
body {
    background: #191818;
    font-family: "Open Sans", sans-serif;
    margin: 0px auto;
    padding: 0px;
    background-image: url("../img/background/fondo_home.png");
}
header {
    margin-top: 30px;
}

header .nav {
    min-height: 80px;
    overflow: hidden;
    background: #fff;
    
}

header .menu {
    margin: 0 auto;
    padding: 0;
    border-radius: 25px;
}

header .menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0 30px;
}

header .menu a div span {
    font-weight: 600;
}

header .menu .color-1 { background: #323232}
header .menu .color-2 { background: #323232}
header .menu .color-3 { background: #323232}
header .menu .color-4 { background: #323232}
header .menu .color-5 { background: #323232}
header .menu .color-6 { background: #323232}
header .menu .color-1:hover { background: #37AEF9}
header .menu .color-2:hover { background: #37AEF9}
header .menu .color-3:hover { background: #37AEF9}
header .menu .color-4:hover { background: #37AEF9}
header .menu .color-5:hover { background: #37AEF9}
header .menu .color-6:hover { background: #37AEF9}

#container {
    width: 900px;
    overflow: hidden;
    margin: 0px auto;
    padding: 0px;
    border: 0px;
}
#container > #sidebar {
    position: relative;
    width: 160px auto;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    border: 0px;
    float: left;
    
}
#container > #sidebar img {
    width: 35px;
}
#container > #content {
    width: 660px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    border: 0px;
    float: right;

}

#home {
    color: #000;
    background-image: url('../img/background/fondo_home.png'); 
    background-attachment: fixed;
    width: auto;
    padding-top: 80px;
    background-position: center center;
    background-repeat: no-repeat;
}

#home h1 {
    color: #E4F510;
}

#home p {
    color: #CFCCCC;
}



#home .btn {
    background-color: #A70000;
    border: 0;
}

#personajes {
    color: #000;
    background-image: url('../img/background/fondo_1.png'); 
    background-attachment: fixed;
    width: auto;
    padding-top: 80px;
    background-position: center center;
    background-repeat: no-repeat;
}

#personajes h1 {
    color: #E4F510;
}

#personajes h4 {
    color: #CFCCCC;
}

#especies {
    color: #000;
    background-image: url('../img/background/fondo_6.png'); 
    background-attachment: fixed;
    width: auto;
    padding-top: 80px;
    background-position: center center;
    background-repeat: no-repeat;
}

#especies h1 {
    color: #E4F510;
}

#especies h4 {
    color: #CFCCCC;
}

#whole {
    color: #000;
    background-image: url('../img/background/fondo_2.png'); 
    background-attachment: fixed;
    width: auto;
    padding-top: 80px;
    background-position: center center;
    background-repeat: no-repeat;
}

#peliculas h1 {
    color: #E4F510;
}
#peliculas h3 {
    color: #E4F510;
}

#peliculas h4 {
    color: #CFCCCC;
}

#peliculas .poster {
    width: 200px;
    height: 300px;
}

#listado-personajes {
    color: #CFCCCC;
}
#whole .btn {
    background-color: #A70000;
    border: 0;
}

#planetas {
    color: #000;
    background-image: url('../img/background/fondo_3.png'); 
    background-attachment: fixed;
    width: auto;
    padding-top: 80px;
    background-position: center center;
    background-repeat: no-repeat;
}

#planetas h1 {
    color: #E4F510;
}

#planetas h4 {
    color: #CFCCCC;
}

#planetas .poster {
    height: 50%;
    width: 50%;
}

#vehiculos {
    color: #000;
    background-image: url('../img/background/fondo_4.png'); 
    background-attachment: fixed;
    width: auto;
    padding-top: 80px;
    background-position: center center;
    background-repeat: no-repeat;
}

#vehiculos h1 {
    color: #E4F510;
}

#vehiculos h4 {
    color: #CFCCCC;
}

#crucerosEspaciales {
    color: #000;
    background-image: url('../img/background/fondo_5.png'); 
    background-attachment: fixed;
    width: auto;
    padding-top: 80px;
    background-position: center center;
    background-repeat: no-repeat;
}

#crucerosEspaciales h1 {
    color: #E4F510;
}

#crucerosEspaciales h4 {
    color: #CFCCCC;
}
footer {
    width: 900px;
    height: 50px;
    margin: 0px auto;
    padding: 0px;
    border-radius: 0 0 30px 30px;
    background: #323232;
}
footer .container > p {
    position: absolute;
    color: #C6BEBE;
}